
 /* BASIC PAGE DIVISION */


      #page {
        font-family:sans-serif;
        width: 600px;
        margin: 20px auto;
      }

      #top {
        position:relative;
        width: 100%;
        height: 350px;
        overflow:hidden;
      }

      #bottom {
        position: static;
        width: 100%;
        background-color:#f3f3f1;
        /*
        min-height: 680px;
        background: #f4f4f4;
        */
        color: #58595B;
        }


.body {
    margin-right: auto;
    margin-left: auto;
    margin-top:10px;
    margin-bottom:10px;
}

.background {
  fill: none;
  pointer-events: all;
}

/* legend */

#legend {
    position: absolute;
    display:inline-block;
    z-index:999;
    max-width: 100px;
    font-size: 0.7em;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
}


.legendTitle {
    display: block;
    clear:both;
}

.legendTitle h1 {
    font-size: 1.2em;
    text-decoration: underline;
    margin-top: 0px;
}

.legendTitle h2 {
    font-size: 1em;
    margin-bottom: 0.25em;
}

.legendIconContainer {
    float:left;
    margin: 0px;
    padding: 2px 5px 2px 0;
    margin-left: 0;
    list-style-type: none;
}

.legendIcon {
    height: 15px;
    width: 15px;
    margin-bottom: 4px;
    border:solid;
    border-color:#7e7a79;
    border-width:1px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    clear: both;
}
.legendLabel {
	width: 85px;
	margin-left: 10px;
	height: 18px;
	padding-top: 3px;
}

#naPatternKey {
    background-image: url('naPattern_key.png')
}

#somePatternKey {
    background-image: url('somePattern_key.png')
}

#allPatternKey {
    background-color: white;
}

.legendLabelContainer {
    float: right;
    padding: 0px;
}




/* MAP */

#mapContainer {
    position:absolute;
}

.overlay {
  pointer-events: none;
  }

#states {
  stroke: #ffffff;
  stroke-width: 1px;
}

#states path:hover {
    opacity: .8;
}

#states .active {
    opacity: .7;
}

#caption {
  padding: 10px;
  height: 300px;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:400;
  font-stretch:normal;
  margin-top:10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow:auto;
}

#caption h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: Georgia, times, serif;
    font-size: 26px;
    color: #414042;
    float: left;
}
#caption .tip{

}
#caption dl{
	float: right;
	font-size: 14px;
	margin: 0;
}
#caption dt{
	float: left;
	clear: both;
	display: block;
	font-weight: bold;
}
#caption dd{
	float: left;
	margin-left: 5px;
}
#caption p {
    font-size:0.80em;
    clear: both;
}

#caption ul {
    margin-top: 7px;
    font-size: 0.9em;
    margin-left: 0px;
    padding-left: 20px;
    clear: both;
}
#caption>ul{
    border-top: 1px dashed #9f9f9f;
    padding-top: 10px;
    margin-top: 50px;
}

#caption li {
    padding-bottom: 5px;
    font-size: 1em;
}

#caption li ul {
    padding-top: 5px;
}

.stateLabel {
  fill:#3d3a39;
  stroke:none;
  font-size: 8px;
  font-weight: bold;
  font-family:  "Arial", sans-serif;
  pointer-events: none;
}

    /* COLORTIME JUNCTION WOO WOO */

.publicYes {
    fill:#00837e;
    background-color: #00837e;
}

.publicUnclear {
    fill:#e9e103;
    background-color: #e9e103;
}

.publicNo {
    fill:#e86231;
    background-color: #e86231;
}

/*.Greens .q0-6 {
    fill: #CFDDA0;
    background-color: #CFDDA0; 
}
.Greens .q1-6 {
    fill: #ACC86B;
    background-color: #ACC86B; 
}
.Greens .q2-6 {
    fill: #8DB548;
    background-color: #8DB548; 
}
.Greens .q3-6 {
    fill: #6A9D2C;
    background-color: #6A9D2C; 
}
.Greens .q4-6 {
    fill: #4A7F1B;
    background-color: #4A7F1B; 
}
.Greens .q5-6 {
    fill: #305E13;
    background-color: #305E13; 
}*/

.focus {
}




.stateDetail h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.stateDetail p {
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
}

